{{- if .is_darwin -}}
#!/usr/bin/env sh

echo "Changing shell to fish..."

FISH_SHELL_PATH=$(which fish)

echo $FISH_SHELL_PATH | sudo tee -a /etc/shells
chsh -s $FISH_SHELL_PATH
{{- else if .is_linux -}}
#!/usr/bin/env sh

echo "Changing shell to fish..."

chsh -s $(which fish)
{{- end -}}
