{{- if .is_darwin -}}
#!/usr/bin/env bash

echo "Installing applications from Homebrew..."

brew install curl htop tmux
{{- else if .is_arch_like -}}
#!/usr/bin/env bash

echo "Installing applications from Pacman..."

sudo pacman -S --noconfirm curl htop tmux
{{- end -}}
