{{- if .is_darwin -}}
#!/usr/bin/env bash

echo "Installing fish from Homebrew..."

brew install fish
{{- else if .is_arch_like -}}
#!/usr/bin/env bash

echo "Installing fish from Pacman..."

sudo pacman -S --noconfirm fish
{{- end -}}
