{{- if .is_darwin -}}
#!/usr/bin/env fish

echo "Installing mise from Homebrew..."

brew install mise

echo 'mise activate fish | source' > ~/.config/fish/conf.d/mise.fish
{{- else if .is_arch_like -}}
#!/usr/bin/env bash

echo "Installing mise from APT..."

sudo pacman -S --noconfirm mise

echo 'mise activate fish | source' > ~/.config/fish/conf.d/mise.fish
{{- end -}}
