{{- if or .is_linux .is_darwin -}}
#!/usr/bin/env fish

echo "Installing dependencies for fish fzf..."

{{ if .is_darwin }}
echo "Installing applications from Homebrew..."

brew install fzf bat fd
{{- else if .is_arch_like -}}
echo "Installing applications from Pacman..."

sudo pacman -S --noconfirm bat fzf fd
{{ end }}

echo "Installing fish fzf..."

fisher install PatrickF1/fzf.fish
{{- end -}}
