#!/usr/bin/env zsh

# For other OS can be added later on.
{{ if eq .chezmoi.os "darwin" }}
  echo "Creating ~/.nvm directory"
  mkdir ~/.nvm

  echo "Creating ~/.nvm/nvm.sh symlink"
  ln -s "$(brew --prefix nvm)/nvm.sh" ~/.nvm/nvm.sh
{{ end }}

